body,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
ul,
ol,
li,
h2,
p,
b,
a,
dl,
dd,
span {
  margin: 0;
  padding: 0;
  list-style: none;
}
* {
  font-family: "微软雅黑", "宋体", "sans-serif";
  font-size: 16px;
}
a {
  text-decoration: none;
  -webkit-tap-height-color: rgba(0, 0, 0, 0);
}
img {
  border: none;
}
